@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(67,110,238,.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(67,110,238,.0);        
    }
    100%{        
        box-shadow: 0 0 0 0 rgba(67,110,238,0);
    } 
}


.searchEntry{
    @include flexColumn;
    padding-top: 40px;


    form{
        width: 90vw;
        display: flex;
        border: 2px solid $search-bar-border;
        border-radius: 500px;
        padding: 0.15rem 0.25rem 0.15rem 0.75rem;

        @include mq(768px){
            width: 80vw;
            padding: 1.25rem 1.5rem;
        } 

        @include mq(1025px){
            width: 60vw;
        }

        input[type="text"]{
            flex-grow: 1;
            font-size: 0.75rem;
            text-align: left;
            letter-spacing: 0.1rem;
            border: none;
            outline: none;
            min-width: 150px;

            @include mq(768px){
                font-size: 1.25rem;
            }
        }

        .button{
            cursor: pointer;
            border: none;
            background: transparent;
            min-width: 48px;
            min-height: 48px;
            outline: none;

            svg{
                font-family: "Font Awesome 5 Free";
                font-size: 1rem;

                @include mq(768px){
                    font-size: 1.5rem;
                }
            }
        }

        .button:hover, .button:focus, .button:focus{
            svg{
                padding-bottom: 0.5rem;
                border-bottom-width: 1px;
                border-bottom-style: solid;
            }
        }

        #searchButton:hover, #searchButton:focus{
            svg{
                color: $logo-green;
            }
        }

        #clear:hover, #clear:focus{
            svg{
                color: $logo-red;
            }
        }

        #searchButton{
            border-left: thin solid $clear-button-color;
            @include mq(768px){
                padding-left: 1rem;
            }
        }

        #clear{
            align-items: center;
            justify-content: center;
            transform: translate(35%, 18%);
            color: $stats-color;
            

            @include mq(768px){
                padding: 0 1rem;
            }
        }
    }

    #searchBar:hover, #searchBar:focus-within{
        box-shadow: 0 2px 5px 2px $search-bar-border;
    }

    #mic{
        border-radius: 50%;
    }

    #mic.on{
        animation: pulse 2s infinite;
    }
}